<%= form_for(@product, html: {class: 'form-horizontal'}) do |f| %>
  <%= render partial: "shared/errors", locals: {record: @product }%>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, required: true %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, step: 0.01, required: true %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
