<h1>Listing Products</h1>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.description %></td>
        <td><%= number_to_currency product.price %></td>
        <td><%= link_to 'Show', product, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-info btn-xs'%></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: 'btn btn-success' %>
